<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li><a href="{{ path('index_setting')}}"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
        <li><a href="{{ path('setting_news') }}"><i class="glyphicon glyphicon-calendar"></i> News Post</a></li>
    </ul>
</div>